.burger {
  height: 30px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
}

.burger::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-text);
  transition: transform 0.3s ease, top 0.3s ease;
}

.burger::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-text);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger__line {
  height: 3px;
  width: 100%;
  background-color: var(--color-text);
  transition: transform 0.3s ease;
}

.burger.open::before {
  transform: rotate(45deg);
  top: 14px;
}
.burger.open::after {
  opacity: 0;
  transform: rotate(-45deg);
}
.burger.open > .burger__line {
  transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}
