.footer {
  background-color: var(--color-secondary-bg);
  margin-top: var(--space-5);
  padding-top: var(--space-5);
  padding-bottom: var(--space-4);
}

.logo {
  font-family: "SquarePeg";
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: var(--line-height-dense);
}

.block .logo:hover {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;
}

.footer_content {
  display: flex;
  gap: var(--space-3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mail {
  margin-top: var(--space-5);
  margin-bottom: 0px;
  display: block;
  text-decoration: underline;
}

.block {
  text-align: center;
}

.block > div {
  margin: 0 auto;
}

.block > a {
  margin-bottom: var(--space-4);
  display: block;
  transition: color 0.3s linear;
}

.line {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  height: 1px;
  margin-top: var(--space-4);
  margin-bottom: var(--space-4);
}

.footer__text {
  text-align: center;
}

@media (min-width: 768px) {
  .logo {
    text-align: left;
  }
  .footer {
    margin-top: var(--space-7);
    padding-top: var(--space-7);
    padding-bottom: var(--space-4);
  }
  .footer_content {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  .block > div {
    margin: 0;
  }
  .block > a:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }
}
